/* General layout remains the same */
.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 3px;
}

/* Individual item card styling */
.inventory-item-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(232, 229, 229, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

/* Dynamic species-specific styles */
.species-indica {
  border-left: 5px solid #b25fff; /* Green for Indica */
}

.species-sativa {
  border-left: 5px solid #ff6600; /* Orange for Sativa */
}

.species-hybrid {
  border-left: 5px solid #7db190; /* Blue for Hybrid */
}

/* Dynamic category-specific styles */
.category-flower {
  background-color: #a68888; /* Light grey for Flower */
}

.category-vape {
  background-color: #64817ccf; /* Light orange for Vape */
}

/* Dynamic subcategory-specific styles */
.subcategory-live-resin {
  font-style: italic;
}

.subcategory-live-rosin {
  font-weight: bold;
}

/* Text styling for inventory items */
.item-name {
  font-weight: bold;
  color: rgb(217, 229, 146);
  margin-bottom: 2px;
}

.item-price {
  font-weight: bold;
  color: rgb(120, 255, 165);
  margin-bottom: 8px;
}

.item-quantity {
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.item-category, .item-subcategory, .item-species, .item-price, .item-quantity {
  margin: 1px 0;
  font-size: calc(0.8vw + 0.8vh + 0.3vmin); /* Dynamic font size */
}